body{
  background-color: black;
}

.masthead .ligne-nom{
  padding-top: 4%;
  padding-left: 34px;
}

.masthead .name{
  padding-top: 5px;
  color: white;
}

.post-title{
  color: white;
  font-size: 0.8em;
}

.post-chapo{
  color: white;
  font-size: 0.8em;
}

.ligne-titre{
  padding-top: 50px;
}

.post-box{
  padding-top: 50px;
}

