.masthead .ligne-nom{
  padding-top: 4%;
  padding-left: 34px;
}

.masthead .name{
  padding-top: 5px;
  color: white;
}

.post-title{
  color: white;
  font-size: 0.8em;
}

.post-chapo{
  color: white;
  font-size: 0.8em;
}

.ligne-titre{
  padding-top: 50px;
}

.post-box{
  padding-top: 50px;
}

header.masthead {
  margin:0;
  padding:0;
  background: url(../images/plageGuadeloupe.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}
